<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Nombre de la rutina</ion-label>
      <ion-input [(ngModel)]="newRoutine.nombreRutina" placeholder="Ej: Piernas" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="newRoutine.descripcion" placeholder="Ej: Sentadillas, peso muerto..." required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Duración (minutos)</ion-label>
      <ion-input type="number" [(ngModel)]="newRoutine.duracion" placeholder="Ej: 45" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="saveRoutine()" [disabled]="cargando">
      {{ cargando ? 'Guardando...' : 'Guardar Rutina' }}
      <ion-spinner *ngIf="cargando" slot="end"></ion-spinner>
    </ion-button>

  </ion-card>

  <ion-list>
    <ion-item *ngFor="let rutina of routines">
      <ion-label>
        <h2>{{ rutina.nombreRutina }}</h2>
        <p>{{ rutina.descripcion }}</p>
        <p>Duración: {{ rutina.duracion }} minutos</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button (click)="editRoutine(rutina)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteRoutine(rutina)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
