<ion-card>
  <!-- FORMULARIO LOGIN -->
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="login.email" name="loginEmail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="login.password" name="loginPassword"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="submit()">Iniciar sesión</ion-button>
</ion-card>

<ion-card>
  <!-- FORMULARIO REGISTRO -->
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="newUser.email" name="registerEmail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="newUser.password" name="registerPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="newUser.nombre" name="registerNombre"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="registerAndSave()">Registrar usuario</ion-button>
</ion-card>

<ion-button expand="block" color="medium" (click)="logout()">
  Cerrar sesión
</ion-button>

<ion-button (click)="goToRoutine()" expand="block" fill="clear" shape="round">
  Navegar a Routine
</ion-button>
  

